
body {
    background-color: #000;
    font-family: 'Titillium Web', sans-serif;
   
}

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    line-height:120%;
    font-size:1em;
}

#stars {
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: 0;
}

#logo {
    left: 50%;
    position: absolute;
    z-index: 2;
    width: 38.2%;
    margin-left: -19.1%;
    top: 1vh;
    @media (max-width: 539px) {
        width: 86.85%;
        margin-left: -43.425%;
    }
    @media (min-width:540px) and (max-width:1024px) {
        width: 61.8%;
        margin-left: -30.9%;
    }
}

#laurel {
    color:#fff;
    position: absolute;
    right:0;
    padding:5px;
    text-align: justify;
    display:inline-block;
}
#page {}

#masthead,
#colophon {
    font-family: 'Rubik', sans-serif;
    background-color: #000;
}

#article{
    //background-color:rgba(0, 0, 255, 0.1);
    width: 100%;
    height:100%;
    position:absolute;
    font-size:1em;
    z-index: 2000;
   /* THIS PART HANDLES THE FONT- 
   for slides, positioning is in .slide-wrap in slick.scss */
    h2{
       
        font-size:200%;
        font-weight:bold;
        text-align:center;
        text-shadow:1px 1px #fff;
        margin-bottom:.5em;
    }
    section{
        line-height:120%;
        color: #fff;
        background-color: rgba(61,61,61,0.8);
        font-size:120%;
        text-shadow: 1px 1px #333;
    }
}

#masthead {
    #wp-custom-header-media img {
        @media screen and (max-width: 767px) {
            top:-8%;
        }
    }
    .navigation-top {
        background-color: #333;
        .main-navigation ul {
            background: #333;
        }
        @media screen and (min-width: 48em) {
            font-size: 0.91rem;
        }
        .main-navigation a:hover {
            color: rgba(255, 240, 111, 0.75);
        }
        a {
            color: #767676;
        }
        .current_page_item>a {
            color: #ccc;
        }
        .main-navigation a:hover {
            color: rgba(255, 240, 111, 0.75);
        }
    }
    #not-home {
        position: absolute;
    }
    @media screen and (min-width:1100px) {
        .site-title img {
            left: -17%;
            position: relative;
            top: 30px;
        }
    }
    .site-description {
        text-shadow: 1px 1px #000;
        @media screen and (max-width: 1099px) {
            padding-left: 17%;
            position: relative;
            top: -17px;
        }
    }
}

#site-navigation {
    #logo {
        position: absolute;
        height: 75px;
        width: 75px;
        margin-left: -37.5px;
    }
}

#content {
    font-family: 'Titillium Web', sans-serif;
    .page-header {
        background-color: #0f0;
    }
}

footer {
    
    position: absolute;
    width: 100%;
  
    bottom: 0;
    #fork-this{
        position: absolute;
        right:0;
        bottom:0;
        height:15vh;
        width:15vh;
        #fork-this-svg{
            position: absolute;
        right:0;
        bottom:0;
        width: 100%;
        height:100%;
        opacity:0.9;
        }
    }
}

#circle-mask {
    svg {
        position: absolute;
        top: 0;
        left: 0;
    }
    svg mask rect {
        fill: rgba(255, 255, 255, 1);
    }
    svg mask circle {
        overflow: hidden;
    }
    svg>rect {
        fill: black;
        -webkit-mask: url(#mask);
        mask: url(#mask);
    }
    #bg-video{
       // display: none;
    }
    video {
        position: absolute;
        top: 0;
        left: 1px;
        z-index: -1;
        overflow: hidden;
        height: 99%;
        opacity: 0.8;
    }
}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .video-phi-narrow {
        width: 38%;
    }
    .left {
        left: 0;
    }
}
