.phi-centered{
    width:61.8vh;
    height:61.8vh;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-30.9vh;
    margin-top:-30.9vh;
    z-index: 1;

    .button-ring{
        z-index: 100;
        position: absolute;
        width: 17.2%;
        height:17.2%;
    }
    #link-home{
        left:50%;
        margin-left:-8.6%;
        top:105%;
    }


}
#circle-nav{
   width:100vh;
   height:100vh;
   position: absolute;
   left:50%;
   top:50%;
    margin-left:-50vh;
    margin-top:-50vh;
}


.circular-menu {
    
    margin: 0 auto;
    position: absolute;
    top:50vh;
    left:50vw;
    margin-left:-25%;
    margin-top:-25%;
    z-index: 500;
    .circle {
        
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
    }

    .open.circle {
        width:100%;
        height:100%;
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }

    .circle a {
        text-decoration: none;
        color: white;
        display: block;
        height: 2vh;
        width: 2vh;
        border:5px solid #fff200;
        border-radius:50%;
        line-height: 40px;
        margin-left: -20px;
        margin-top: -20px;
        position: absolute;
        text-align: center;
    }

    .circle a:hover {
        color: #eef;
    }

    .menu-button {
        position: absolute;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        text-decoration: none;
        text-align: center;
        color: #444;
        border-radius: 50%;
        display: block;
        height: 40px;
        width: 40px;
        line-height: 40px;
        padding: 10px;
        background: #dde;
    }

    .menu-button:hover {
        background-color: #eef;
    }
}
