#screen{
    width:61.8vh;
    height:61.8vh;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-30.9vh;
    margin-top:-30.9vh;
    z-index: 1;

    .button-ring{
        z-index: 100;
        position: absolute;
        width: 17.2%;
        height:17.2%;
    }
    #link-home{
        left:50%;
        margin-left:-8.6%;
        top:110%;
    }


}