#main-nav{
    position: absolute;
    top:50%;
    left:50%;
    z-index: 100;
    background-color:rgba(256,0,0,0.1);
    width:80vh;
    height:80vh;
    margin-left:-40vh;
    margin-top:-40vh;
}
#sub-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1100;
    background-color: rgba(255, 255, 0, 0.2);
    width: 61.8vh;
    height: 61.8vh;
    margin-left: -30.9vh;
    margin-top: -30.9vh;
}


.wheelNavGitHub {
    height: 210px;
    width: 210px;
    margin: auto;
    -moz-transition: ease 1s;
    -o-transition: ease 1s;
    -webkit-transition: ease 1s;
    transition: ease 1s;
}

.wheelNav {
    width:100%;
    height:100%;
    margin-top:-50%;

    margin: auto;
    -moz-transition: ease 1s;
    -o-transition: ease 1s;
    -webkit-transition: ease 1s;
    transition: ease 1s;
}

.wheelNavGitHub > svg,
.wheelNav > svg {
    width: 100%;
    height: 100%;
}

@media (max-width: 880px) {
    .wheelNavGitHub {
        height: 200px;
        width: 200px;
    }

    .wheelNav {
        height: 330px;
        width: 330px;
    }
}

@media (max-width: 680px) {
    .wheelNavGitHub {
        height: 190px;
        width: 190px;
    }

    .wheelNav {
        height: 310px;
        width: 310px;
    }
}

@media (max-width: 480px) {
    .wheelNavGitHub {
        height: 180px;
        width: 180px;
    }

    .wheelNav {
        height: 290px;
        width: 290px;
    }
}

/* Css classes for radialWheel */

#wheelnav-radialWheel-slice-0 {
    fill: #cbff71;
}

#wheelnav-radialWheel-slice-1 {
    fill: #a2ff00;
}

#wheelnav-radialWheel-slice-2 {
    fill: #6ad400;
}

#wheelnav-radialWheel-slice-3 {
    fill: #09b501;
}

#wheelnav-radialWheel-slice-4 {
    fill: #028f27;
}

#wheelnav-radialWheel-slice-5 {
    fill: #0a6f25;
}

[class|=wheelnav-radialWheel-slice-hover] {
    stroke-width: 2px;
    cursor: pointer;
}

[class|=wheelnav-radialWheel-slice-selected] {
    stroke-width: 3px;
}

[class|=wheelnav-radialWheel-title] {
    cursor: pointer;
}

#wheelnav-radialWheel-title-5 > tspan {
    font-family: 'Bookman Old Style', Bookman, 'URW Bookman L', 'Palatino Linotype', serif;
}

.wheelnav-radialWheel-title-basic-5 > tspan {
    font-size: 17px;
}

.wheelnav-radialWheel-title-hover-5 > tspan {
    font-size: 23px;
}

.wheelnav-radialWheel-title-selected-5 > tspan {
    font-size: 33px;
}

.wheelnav-radialWheel-spreader-in,
.wheelnav-radialWheel-spreader-out {
    fill: #0a6f25;
    stroke-width: 3px;
    cursor: pointer;
}

.wheelnav-radialWheel-spreadertitle-in,
.wheelnav-radialWheel-spreadertitle-out {
    cursor: pointer;
}


.wheelnav-radialWheel-marker {
    stroke: orange;
    stroke-width: 3px;
    fill: #666;
    fill-opacity: 0.3;
}


[class|=wheelnav-WebSlice-slice-basic] {
    fill: #1572b6;
    stroke: yellow;
    stroke-width:2px;
     opacity:0.2;
 
}
[class|=wheelnav-WebSlice-title-basic]{
    
    fill: #ccc;
    stroke-width: 3px;
}

[class|=wheelnav-WebSlice-title-hover] {
  
    fill: #ff0;
    
}
[class|=wheelnav-WebSlice-title-selected] {
    fill: #fff;
}
[class|=wheelnav-WebSlice-title]>tspan {
  font-family: Titillium,
  sans-serif;
  font-size: 2vh;
  
  text-shadow:1px 1px #333;

    cursor: pointer;
}
[class|=wheelnav-WebSlice-slice-hover] {
    fill: #fff;
    stroke: #f00;
    opacity: 0.5;
    cursor: pointer;
}

[class|=wheelnav-WebSlice-slice-selected] {
    fill: #33a9dc;
    stroke: none;
    opacity: 0.5;
}